<!DOCTYPE html>
<html>
  <head>
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <link rel="stylesheet" type="text/css" href="/assets/css/screen.css" />

    {{ghost_head}}
  </head>
  <body class="{{body_class}}">
    {{{body}}}
    {{ghost_foot}}

    <footer class="site-footer">
      <p>
        This blog is written by <em>Simon Ljungberg</em> and powered by
        <a href="http://ghost.org">Ghost</a>. The theme is
        <a href="http://github.com/simme/ghost-iamsimme">open source</a>.
      </p>
      <p>
        More stuff from me can be found at
          <a href="http://twitter.com/simmelj">Twitter</a>,
          <a href="http://www.flickr.com/photos/simmes/">Flickr</a>,
          <a href="http://github.com/simme">Github</a> &amp;
          <a href="https://npmjs.org/~simme">npm</a>.
        You can subsribe to this blog's <a href="{{url}}/rss">feed</a> to get
        updated when new posts are published.
      </p>
    </footer>
  </body>
</html>

